@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p><strong>Sales project using ASP.NET Core MVC and Entity Framework.</strong></p>
<p>@ViewData["Email"]</p>
<p>@ViewData["Git"] <a href="https://github.com/nicolasbiletzki"> Nicolas Biletzki</a></p>
