@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>
<p>@ViewData["Email"]</p>
<p>@ViewData["Git"] <a href="https://github.com/nicolasbiletzki"> Nicolas Biletzki</a></p>
