@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Email:</strong> nicolasbiletzki@gmail.com <br />
    
    <strong>GitHub:</strong> <a href="https://github.com/nicolasbiletzki/">Nicolas Biletzki</a><br />
</address>
